<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.gracefulWebSocket.js" %}"></script>
<script>
    $(document).ready( function() {

    while(true) {
      var name = prompt("Enter your username", "anonymous");
      if (name == null) {
        name = "anonymous";
        break;
      }

      if (!/^[-_ a-zA-Z0-9]+$/.test(name)) {
        alert("Only alphanumerics are allowed");
      } else if (name.length > 10) {
        alert("Username is too long");
      } else {
        break;
      }
    }

    window.chat = {};
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:1025/ws");

    chat.send = function (message) {
      chat.ws.send(name+":"+message);
    }

    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;
      var msg = document.createElement('div');
      msg.setAttribute("class", "message_container")
      msg.innerHTML = messageFromServer;
      $("#message_list").append(msg);
      var elem = document.getElementById('message_list');
      elem.scrollTop = elem.scrollHeight;
    };

    var inputbox = document.getElementById("inputbox");

    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }

      if (e.keyCode == 13 && inputbox.value.match(/\S/)) {
        e.preventDefault();
        chat.send(inputbox.value);
        inputbox.value="";
      }
    }, false); });
</script>
<link href="/static/chatroom.css" rel="stylesheet">
<div class="container">
  <div class="room_header">
    <div class="chatname">
      {{ chat.name }}
      <a href="{% url 'index' %}">Leave chatroom</a>
    </div>
  </div>
  <div id="message_list">
  </div>
</div>
<textarea rows="4" cols="40" id="inputbox"></textarea>
